NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_MAPBOX_TOKEN=""
GEOAPIFY_API_KEY=""
NEXTAUTH_SECRET="replace-with-32-random-characters"
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
DATABASE_URL="postgresql://user:pass@localhost:5432/middleground"
